.about {
  background-color: #3b3133;
  display: flex;
  height: 880px;
  justify-content: center;
}

.about section {
  display: flex;
  justify-content: center;
  width: 88%;
}

.about div {
  width: 50%;
}

.about img {
  width: 100%;
}

.about div div {
  width: 80%;
}

.about div:nth-child(2) {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.about p {
  text-align: center;
}

.about p:nth-child(1) {
  font-size: 3em;
  margin: 100px 0px 30px 0px;
}

.about p:nth-child(2) {
  font-size: 1.3em;
  line-height: 1.75;
}
