.header {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 140px;
  justify-content: space-evenly;
}

.header div {
  width: 45%;
}

.header div:nth-child(1) {
  align-items: center;
  display: flex;
  padding-left: 60px;
}

.header img {
  border-radius: 50%;
  height: 100px;
  margin-right: 20px;
  width: 100px;
}

.header p {
  font-size: 2em;
}

.header button {
  background-color: #c5c5c5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.header button:hover {
  background-color: #70412e;
}

.header button i {
  color: #3b3133;
}

.header button i:hover {
  color: #c5c5c5;
}

.header div:nth-child(2) nav ul,
.header div:nth-child(2) nav ul li a i {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.header a {
  font-size: 1.5em;
  text-decoration: none;
}

.header i {
  font-size: 40px;
}

.header a:hover {
  color: #70412e;
}
.header li:nth-child(6):hover a {
  color: #0a66c2;
}

.header li:nth-child(7):hover a {
  color: #7f13d8;
}
