.home header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(223, 253, 253);
}

.home main {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(164, 255, 255);
}

.home main div, .home main section {
  width: 50%;
  text-align: center;
}

.home main div img {
  height: 100%;
  width: 34%;
}

.home footer {
  text-align: center;
  background-color: rgb(223, 253, 253);
}