@import url('http://fonts.cdnfonts.com/css/futura-lt');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-size: 16px;
  font-family: 'Futura LT', sans-serif;
}
