* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html.sr .load-hidden {
  scroll-behavior: smooth;
  visibility: hidden;
}

body {
  background-attachment: fixed;
  background-image: url('../images/coding.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Futura LT', sans-serif;
  font-size: 16px;
}

p,
a {
  color: #3b3133;
}
