.services {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.services section {
  width: 88%;
}

.services section:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
}

.services p {
  text-align: center;
}

.services section:nth-child(1) p:nth-child(1) {
  color: #ffffff;
  font-size: 3em;
  margin-bottom: 30px;
}

.services section:nth-child(1) p:nth-child(2) {
  color: #ffffff;
  font-size: 1.3em;
}

.services section:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.services section:nth-child(2) div {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 31%;
}

.services section:nth-child(2) div div {
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: space-evenly;
  width: 100%;
}

.services section:nth-child(2) div div:nth-child(1) {
  width: 50%;
}

.services section:nth-child(2) div div:nth-child(2) {
  background-color: #f0f0f0;
}

.services section div div p:nth-child(1) {
  font-size: 1.8em;
}

.services section div div p:nth-child(2) {
  font-size: 1.3em;
}
